image:
  repository: docker-registry.ebrains.eu/hdc-services-image/dataops
  # tag: set by Terraform via var.dataops_app_version
  pullPolicy: IfNotPresent

deploymentAnnotations:
  "sidecar.jaegertracing.io/inject": "true"

replicaCount: 1

fullnameOverride: dataops

container:
  port: 5063

service:
  type: ClusterIP
  port: 5063

extraEnv:
  HOST: "0.0.0.0"
  RDS_HOST: "postgres.utility"
  RDS_PORT: 5432
  RDS_NAME: "dataops"
  RDS_USERNAME: "dataops_user"
  RDS_SCHEMA: "public"
  RDS_ECHO_SQL_QUERIES: false
  LINEAGE_SERVICE: "http://lineage.utility:5064"
  QUEUE_SERVICE: "http://queue-producer.greenroom:6060"
  METADATA_SERVICE: "http://metadata.utility:5066"
  AUTH_SERVICE: "http://auth.utility:5061"
  REDIS_HOST: "redis-master.redis"
  REDIS_PORT: 6379
  REDIS_DB: 0
  MINIO_HOST: "http://minio.minio"
  MINIO_PORT: 9000
  WORKERS: 2

extraEnvYaml:
  - name: RDS_PASSWORD
    valueFrom:
      secretKeyRef:
        name: dataops-utility-secret
        key: RDS_PASSWORD
  - name: REDIS_PASSWORD
    valueFrom:
      secretKeyRef:
        name: redis
        key: REDIS_PASSWORD
  - name: RSA_PUBLIC_KEY
    valueFrom:
      secretKeyRef:
        name: rsa-public-key-secret
        key: rsa-public-key

appConfig:
  env: "staging"
  port: 5063

resources:
  requests:
    cpu: "150m"
    memory: 150Mi
  limits:
    cpu: "300m"
    memory: 300Mi
