appConfig:
  port: 5066
  env: staging
  srv_namespace: metadata

image:
  repository: docker-registry.ebrains.eu/hdc-services-image/metadata
  # tag: set by Terraform via var.metadata_app_version
  pullPolicy: IfNotPresent

fullnameOverride: metadata
container:
  port: 5066

service:
  type: ClusterIP
  port: 5066

extraEnv:
  DCM_PROJECT_ID: generate_id
  RUN_MIGRATIONS: "true"
  AUTH_HOST: "http://auth.utility:5061"
  KAFKA_URL: "kafka.utility.svc.cluster.local:9092"
  KAFKA_TOPIC: "metadata.items"
extraEnvYaml:
  - name: OPSDB_UTILITY_USERNAME
    valueFrom:
      secretKeyRef:
        name: metadata-db-credential
        key: DB_USERNAME
  - name: OPSDB_UTILITY_PASSWORD
    valueFrom:
      secretKeyRef:
        name: metadata-db-credential
        key: DB_PASSWORD
  - name: OPSDB_UTILITY_HOST
    valueFrom:
      secretKeyRef:
        name: metadata-db-credential
        key: DB_HOST
  - name: OPSDB_UTILITY_PORT
    valueFrom:
      secretKeyRef:
        name: metadata-db-credential
        key: DB_PORT
  - name: RSA_PUBLIC_KEY
    valueFrom:
      secretKeyRef:
        name: rsa-public-key-secret
        key: rsa-public-key

resources:
  requests:
    cpu: "150m"
    memory: 150Mi
  limits:
    cpu: "300m"
    memory: 300Mi

readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 5
  periodSeconds: 10
  successThreshold: 1
  tcpSocket:
    port: 5066

livenessProbe:
  failureThreshold: 3
  httpGet:
    path: /v1/health
    port: 5066
    scheme: HTTP
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 3

replicaCount: 1

updateStrategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 33%
  type: RollingUpdate
